<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Economato WEB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Economato WEB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

                    <li>@Html.ActionLink("Entradas", "TipoDeArtigos", "Artigoes/Index")</li>

                    <li>@Html.ActionLink("Saídas", "TipoDeArtigos", "Registo") </li>

                    <li>@Html.ActionLink("Listagens", "TipoDeArtigos", "Registo")</li>

                    <li>@Html.ActionLink("Ver Artigos", "TipoDeArtigos", "Registo")</li>

                    <li>@Html.ActionLink("Ver Tipo de Artigos", "TipoDeArtigos", "TipoDeArtigoes/Index")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informações
                            <span class="caret">
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                            <li>@Html.ActionLink("Contactos", "Contactos", "Home")</li>
                        </ul>
                    

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Economato WEB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
