@model IEnumerable<EconomatoWEB.Models.Artigo>

@{
    ViewBag.Title = "Index";
}

<h2>Artigos</h2>
<br />
<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - ARTIGOS</b></h5>

<br />
<br />
<br />
<p>
    @Html.ActionLink("Criar um Novo Artigo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeArtigo.Nome)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IdEntidade)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeArtigo.Nome)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IdEntidade)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMinimo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdArtigo }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdArtigo }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdArtigo })
            </td>
        </tr>
    }

</table>
