@model IEnumerable<EconomatoWEB.Models.Artigo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeArtigo.Nome)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IdEntidade)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeArtigo.Nome)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdEntidade)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMinimo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdArtigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdArtigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdArtigo })
        </td>
    </tr>
}

</table>
