@model EconomatoWEB.Models.TipoDeArtigo

@{
    ViewBag.Title = "Edit";
}

<h2>Operações na Base de Dados</h2>
<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - Tipo de Artigos - EDITAR</b></h5>


<br />
<br />
<h4>Tipo de Artigos</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdTipoDeArtigos)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="GUARDAR ALTERAÇÃO" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("VOLTAR", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
