@model IEnumerable<EconomatoWEB.Models.TipoDeArtigo>

@{
    ViewBag.Title = "Index";
}

<h2>Tipo de Artigos</h2>
<br />
<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - Tipo de Artigos</b></h5>
<br />
<br />

<p>
    @Html.ActionLink("Criar um Novo tipo de Artigo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdTipoDeArtigos }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdTipoDeArtigos }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdTipoDeArtigos })
            </td>
        </tr>
    }

</table>
